{% load static %}
<!-- <div class="agile-banner"></div> -->
<div class="space_banner"></div>
<div class="flag_logo_banner">
  <div class="flag_logo_banner left">
    <div>
      <img
        class="img-responsive"
        src="{% static 'img/logo/armoiries.jpg'%}"
        alt=" "
      />
    </div>
  </div>
  <div class="flag_logo_banner right">
    <div>
      <img
        class="img-responsive"
        src="{% static 'img/logo/pnrst_logo72.png'%}"
        alt=" "
      />
    </div>
  </div>
</div>
