<div class="footer-top">
	<div class="container">
		<div class="col-md-3 w3ls-footer-top">
			<h3>ME<span>NU</span></h3>
				<ul>
						<li><a href="{% url 'home'%}">Acceuil</a></li>
						<li><a href="{% url 'ambitions'%}">Ambitions</a></li>
						<li><a href="{% url 'news'%}">Actualités</a></li>
						<li><a href="{% url 'about'%}">A propos</a></li>
						<li><a href="{% url 'contact'%}">Contacts</a></li>
					</ul>
		</div>
		<div class="col-md-4 wthree-footer-top">
			<h3>ADD<span>RESSES</span></h3>
				<ul>
				<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Site scitifico-techniques: ISTA / KINSHASA.</li>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:pnrstwc5@gmail.com">pnrstwc5@gmail.com</a></li>
				<!-- <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +080 264 995 -->
</li>
			</ul>
		</div>
		
		<div class="col-md-5 w3l-footer-top">
			<h3>NEWS<span>LETTER</span></h3>
			<p>Entrer votre addresse email afin de souscrire a notre newsletter et être le premier informer sur nos activités et avances.</p>

				<form action="#" method="post" class="newsletter">
					<input class="email" type="email" placeholder="Votre Email..." required="">
					<input type="submit" class="submit"  value="">
				</form>
		</div>
			<div class="clearfix"></div>
		<div class="footer-w3layouts">
			<div class="agile-copy">
				<p>© 2021 PNRST. All rights reserved | Design by <a href="http://yebella.cd/">Yebella.inc</a></p>
			</div>
		</div>
	</div>
</div>
