{% load static %}
<div class="slider">
    <button class="btn" id="prevPicture">Prev</button>
    <ul>
        <li><img height="600" width="1000" src="{% static 'img/slides/galaxy.jpeg'%}"></li>
        <li><img height="600" width="1000" src="./images/2.jpg"></li>
        <li><img height="600" width="1000" src="./images/3.jpg"></li>
        <li><img height="600" width="1000" src="./images/4.jpg"></li>
        <li><img height="600" width="1000" src="./images/5.jpg"></li>
        <li><img height="600" width="1000" src="./images/6.jpg"></li>
        <li><img height="600" width="1000" src="./images/7.jpg"></li>
    </ul>
    <button class="btn" id="nextPicture">Next</button>
</div>